<main class="apresentacao">
  <section class="apresentacao__titulo">
    <h1 class="apresentacao__titulo__texto">
      Seja bem vindo ao site do Colegio Magna
    </h1>
  </section>
  <section class="apresentacao__conteudo">
    <h2 class="apresentacao__conteudo__titulo">
      Somos a escola <strong>número 1</strong> em aprovações!
      <p class="apresentacao__conteudo__texto">
        Ensinar é criar oportunidades. Esse é o lema que norteia o Colégio Magna desde sua fundação, em setembro de 1973. Mas não é só um lema: é a principal razão para o Colégio ser reconhecido por educadores, pais e alunos como uma instituição de ensino de qualidade. Porque criar oportunidades significa oferecer um conteúdo acadêmico de excelência e ir além.
      </p>
      <p class="apresentacao__conteudo__texto">
        Significa desenvolver a autonomia e as competências necessárias para avançar diante dos desafios, tanto nos estudos como na vida. Significa preparar o aluno para viver em um mundo globalizado, onde a capacidade de comunicação é tão importante quanto a solidariedade e o respeito às diferenças. Significa estimular novas experiências, ampliar os horizontes do aluno para que ele descubra o mundo e a si mesmo.
      </p>
    </h2>
    <div class="apresentacao__conteudo__imagem">
      <div class="apresentacao__conteudo__imagem__escola">
        <img src="../../../assets/images/colegio.png">
      </div>
    </div>
  </section>
</main>

