<section class="apresentacao">
  <div class="apresentacao__titulo">
    <h1>Selecione abaixo:</h1>
  </div>
  <div class="apresentacao__professores">
    <a class="apresentacao__professores__navegacao" routerLink="/professores/cadastro">
      Cadastro de professores
    </a>
    <a class="apresentacao__professores__navegacao" routerLink="/professores/atualiza">
      Atualização de professores
    </a>
    <a class="apresentacao__professores__navegacao" routerLink="/cadastroProfessores">
      Listagem de professores
    </a>
    <a class="apresentacao__professores__navegacao" routerLink="/professores/deleta">
      Demissão de professores
    </a>
  </div>
</section>
